{% extends 'base.html.twig' %}

{% block body %}
    <div id="servers">
        {% for render in renders %}
            {% autoescape false %}
                {{ render }}
            {% endautoescape %}
        {% else %}
            No Instances
        {% endfor %}
    </div>
    <script type="text/javascript">
        setTimeout(function () {
            location.reload();
        }, 3600);
    </script>
{% endblock %}
