{% extends 'base.html.twig' %}

{% block body %}
    <div id="servers">
        <ul></ul>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            function render() {
                $("#servers ul").html("");
                {% for instance in instances %}
                $.get("http://{{ instance }}/app_dev.php/display", function (content) {
                    $("#servers ul").append(content);
                });
                {% endfor %}
                setTimeout(function () {
                    render();
                }, 3600);
            }

            render();
        });
    </script>
{% endblock %}
